html {
  height: 100vh;
}

body {
  height: 3000vh;
  background: #000;
}

canvas {
  position: fixed;
  left: 50%;
  width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}

body::-webkit-scrollbar {
  width: 1px;
}
@media screen and (max-width: 1000px) {

  canvas {
    position: fixed;
    left: 50%;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
    object-fit: cover;
  }
}
.welcome{
  position: relative;
  top: 300vh;

  font-size: 5vh;
  font-weight: 700;
  color:#fff;
  z-index:4;
  text-align : center;
}
.scroll{
  position: relative;
  top: 50vh;

  font-size: 4vh;
  font-weight: 700;
  color:#fff;
  z-index:4;
  text-align : center;
}
.down{
  position: relative;
  text-align : center;
  top: 45vh;
  font-size: 3vh;
  z-index:4;
  color:#fff;
}
.blättern{
  position: relative;
  top: 600vh;

  font-size: 5vh;
  font-weight: 700;
  color:#fff;
  z-index:4;
  text-align : center;
}
.dimensions{
  position: relative;
  top: 1000vh;

  font-size: 5vh;
  font-weight: 700;
  color:#fff;
  z-index:4;
  text-align : center;
}
.aurora{
  position: relative;
  top: 1800vh;

  font-size: 5vh;
  font-weight: 700;
  color:#fff;
  z-index:4;
  text-align : center;
}
.aurora2{
  position: relative;
  top: 1800vh;

  font-size: 4vh;
  font-weight: 700;
  color:#fff;
  z-index:4;
  text-align : center;
}
.startrail{
  position: relative;
  top: 2400vh;

  font-size: 5vh;
  font-weight: 700;
  color:#fff;
  z-index:4;
  text-align : center;
}
.edition{
  position: relative;
  top: 2800vh;

  font-size: 5vh;
  font-weight: 700;
  color:#fff;
  z-index:4;
  text-align : center;
}
.continue{
  position: relative;
  top: 2900vh;

  font-size: 5vh;
  font-weight: 700;
  color:#fff;
  z-index:4;
  text-align : center;
}